*{
    margin: 0;
}
#banner{
    height: 150px;
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 153, 255);
    
    
}

#logoBanner{
    width: 300px;
    margin-top: 65px;
    margin-left: 20px;
}







